#wrapper{
    position:fixed;
    height: 100%;
    width: 100%;
    z-index:-1;
}
/* CSS Bubbles */

#parallax-lvl-3 {
    position: absolute;
    top: 0;
    transition: all 1s ease-out;
    width: 100%;
    height: 100%;
}

.bubble {
    border-radius: 100%;
    position: absolute;
    opacity: 0.7;
}
.size1 {
    width:67px;
    height:67px;
}
.size2 {
    width:150px;
    height:150px;
}
.size3 {
    width:190px;
    height:190px;
}
.size4 {
    width:230px;
    height:230px;
}
.blue {
    background-color: rgba(0, 174, 239, 0.08);
}

.yellow {
    background-color: rgba(255, 222, 0, 0.08);
}

/* Bubble positions */
#b0-1 {
    top: 30%;
    left:0;
}
#b0-2 {
    top:50%;
    right:10%;
}
#b0-3 {
    top:50%;
    left:40%;
}
#b0-4 {
    top:200%;
    left:20%;
}
#b0-5 {
    top:300%;
    left:50%;
}
#b0-6 {
    bottom:50%;
    left:60%;
}
#b0-7 {
    bottom:30%;
    left:10%;
}
#b0-8 {
    bottom:20%;
    left:30%;
}

