.react-calendar {
    box-shadow: 0px 0px 20px rgba(29, 29, 27, 0.2);
    border-radius: 28px;
    width: 320px;
    max-width: 100%;
    background: white;
    line-height: 1.125em;
    padding:10px;
}
.react-calendar--doubleView {
    width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
}
.react-calendar button:enabled:hover {
    cursor: pointer;
}
.react-calendar__navigation {
    height: 44px;
    margin-bottom: 1em;
}
.react-calendar__navigation button {
    min-width: 44px;
    background: none;
}

.react-calendar__navigation button[disabled] {
    color:rgba(16, 16, 16, 0.3)!important;
}
.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
    color: black;
}
.react-calendar__month-view__weekNumbers {
    font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: transparent;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
}
.react-calendar__tile {
    max-width: 100%;
    text-align: center;
    border-radius: 50%;
    background: none;
    width: 100%;
    height: 40px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
}

.react-calendar__tile--now{
    background: #006edc;
    color: white!important;
    border:unset!important;
}
.react-calendar__tile--hasActive {
    background: #76baff;
}

.react-calendar__tile--active {
    border: 3px solid rgba(255,222,0,0.35)!important;
    color: #1D1D1B;
}

.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
}
.calendar ,.calendar span , .calendar  abbr {
    text-decoration:unset!important;
    font-family: e-Ukraine
}
.calendarVisuallyMode ,.calendarVisuallyMode span , .calendarVisuallyMode  abbr{
    text-decoration:unset!important;
    font-family: e-Ukraine;
}
.calendarVisuallyMode  .react-calendar__tile--active {
    background: #1D1D1B!important;
    color:white!important;
}
